<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AmazonEnvironmentAccessKeyId" value="AKIAJKRQEEHQHX24KEYA" />
    <add key="AmazonEnvironmentRegion" value="us-east-1" />
    <add key="AmazonEnvironmentSecretAccessKey" value="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" />
    <add key="SendNotificationLambdaFunctionName" value="AspectConnectAgentEventsForWFM"/>
  </appSettings>
</configuration>